.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5%;
    padding: 1%;
    justify-content: center;
}

.user-img {
    border-radius: 50%;
    width: 150px;
    margin: 30px;
}

.user-usr {
    font-size: 40px;
    font-family: "Daruma Drop";
    color: #00ADB5;
}

.user-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info {
    font-family: "Roboto Mono";
    font-size: 20px;
    color: #EEEEEE;
}

.user-date {
    font-family: "Roboto Mono";
    font-size: 20px;
    color: #EEEEEE;
}

@media (min-width: 500px) {
    .user-container {
        flex-direction: row;
    }

    .user-extra {
        flex-direction: column;
    }
}