.chrip-content {
    max-width: 100%;
    overflow: auto;
    word-wrap: break-word;
    box-sizing: border-box;
    display: block;
}

.chrip-content * {
    max-width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-wrap: break-word;
}